#headband {
    background-color: #f0f0f0; 
    padding: 10px 0;          
    color: #333;               
    font-size: 16px;         
    overflow: hidden;          
    position: relative;        
    white-space: nowrap;      
  
    p {
      display: inline-block;   
      animation: scroll 12s linear infinite; 
      padding-left: 100%;        
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(-100%); 
    }
  }
  