#profil {
    background-color: $bgc-classic;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;

    .profil-container {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        padding: 40px;
        max-width: 600px;
        width: 100%;
        text-align: center;
    }

    h2 {
        font-size: 28px;
        color: #333;
        margin-bottom: 20px;
        font-weight: 600;
    }

    .error-message {
        color: $error-color;
        margin-bottom: 15px;
    }

    .profil-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-bottom: 20px;

        .input-group {
            display: flex;
            gap: 10px;
        }

        input[type="text"],
        input[type="number"] {
            padding: 12px;
            border: 1px solid #ddd;
            border-radius: 8px;
            font-size: 16px;
            background-color: #f9f9f9;
            color: #333;
            width: 100%;
            transition: border-color 0.3s;

            &:focus {
                outline: none;
                border-color: #99ccff;
            }
        }

        input[type="submit"] {
            padding: 12px;
            background-color: $color-matcha;
            border: none;
            border-radius: 8px;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #d0e5cdaa;
            }
        }
    }

    .delete-button {
        padding: 12px;
        background-color: #4d4c4c;
        border: none;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 100%;

        &:hover {
            background-color: #cc5252;
        }
    }
}
