// Styles par défaut pour les mobiles 
$mobile: "only screen and (max-width: 575px)";

// Petits appareils (téléphones en mode paysage, 576px et plus)
 $small: "only screen and (min-width: 576px)";

// Appareils moyens (tablettes, 768px et plus)
$medium: "only screen and (min-width: 768px)";

// Grands appareils (ordinateurs de bureau, 992px et plus)
$large: "only screen and (min-width: 992px)";

// Très grands appareils (grands écrans d'ordinateurs, 1200px et plus)
$extra: "only screen and (min-width: 1200px);